# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.firebase

# Node dependencies
node_modules

# development helpers
*__dev*

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# images
works
works-no-shadow
_ipx