*,
*::before,
*::after {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

// :root {
//   // @TODO
//   interpolate-size: allow-keywords;
// }

body {
  overflow-x: hidden;
  overflow-y: auto;

  background-color: var(--two);
  color: var(--one);
  margin: 0;
}

.fix {
  position: fixed;
}

.f {
  display: flex;
}

.abs {
  position: absolute;
}

.center {
  @extend .f;
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

main,
footer {
  padding-inline: var(--m);
  margin-inline: auto;
}

footer {
  position: absolute;
  bottom: 0;
}

body,
#__page,
#__nuxt {
  min-height: 100svh;
}

.w100 {
  width: 100%;
}
