@use 'basic';

.btn,
button,
a {
  background: transparent;
  border: none;
  border-image: none;
  font: unset;

  text-decoration: none;
  color: var(--text);
  transition: color var(--time) var(--ease);

  &:hover {
    color: var(--action);
  }

  &,
  & > * {
    cursor: pointer;
  }
}

.btn {
  @extend .center;
  @extend .col;
}

.router-link-active {
  color: var(--action);
}
