@use 'basic';

nav {
  @extend .f;
  @extend .fix;
  @extend .w100;

  top: 0;
  left: 0;

  background-color: var(--bg);
  border-bottom: var(--stroke) solid currentColor;

  align-items: center;

  --space: calc(var(--m) / 3);
  padding-inline: var(--space);

  .btn {
    padding: 0.6em var(--space);

    &:first-child {
      margin-right: auto;
    }
  }

  h1.like.btn,
  .home.btn {
    text-align: left;
    max-width: 18em;

    @media (max-width: 420px) {
      max-width: 13em;
    }
  }
}
