:root {
  --one: #222;
  --two: #ddd4cb;
  --three: #c31231;
  --four: #f693a5;
}

html:not(.dark) {
  --text: var(--one);
  --bg: var(--two);
  --action: var(--three);
  --vivid: #000;
  color-scheme: light;
}

html.dark {
  --bg: var(--one);
  --text: var(--two);
  --action: var(--four);
  --vivid: #fff;
  color-scheme: dark;
}
