:root {
  // default ease/transition time
  --time: 0.4s;
  // default ease
  --ease: ease-in-out 0.1s;

  // for lines & borders
  --stroke: 1px;

  // margin
  --m: 1rem;

  @media screen and (min-width: 461px) {
    --m: 2rem;
  }
}
