@use 'settings/varibles';
@use 'settings/colors';

@use 'main/animations';
@use 'main/basic';
@use 'main/image';
@use 'main/links';
@use 'main/typo';
@use 'main/navigation';

@use 'components/color-mode-button';

// // 🛠️🛠️🛠️ @DEV hellpers 🛠️🛠️🛠️
// *,
// *::before,
// *::after {
//   // outline: 1px dashed fuchsia;
//   background-color: rgba(0, 200, 200, 0.2);
// }
// // 🛠️🛠️🛠️ @DEV helpers end. 🛠️🛠️🛠️

.just.like.btn {
  // for header which is switched with link
  margin-block: 0;

  cursor: default;
  &:hover {
    color: initial;
  }
}

main {
  padding-top: 3rem;
}
